<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.fengwk.guard.sus.core.mapper.UserIdentityMapper">

    <select id="findByUserId" parameterType="long" resultType="fun.fengwk.guard.sus.core.model.UserIdentityBO">
        select id, gmt_created as gmtCreated, gmt_modified as gmtModified, version, user_id as userId, username, password_digest as passwordDigest, mobile, email
        from ${namespace}_user
        where user_id=#{userId}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="fun.fengwk.guard.sus.core.model.UserIdentityBO">
        select id, gmt_created as gmtCreated, gmt_modified as gmtModified, version, user_id as userId, username, password_digest as passwordDigest, mobile, email
        from ${namespace}_user
        where username=#{username}
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultType="fun.fengwk.guard.sus.core.model.UserIdentityBO">
        select id, gmt_created as gmtCreated, gmt_modified as gmtModified, version, user_id as userId, username, password_digest as passwordDigest, mobile, email
        from ${namespace}_user
        where email=#{email}
    </select>

    <select id="findByMobile" parameterType="java.lang.String" resultType="fun.fengwk.guard.sus.core.model.UserIdentityBO">
        select id, gmt_created as gmtCreated, gmt_modified as gmtModified, version, user_id as userId, username, password_digest as passwordDigest, mobile, email
        from ${namespace}_user
        where mobile=#{mobile}
    </select>
</mapper>